* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.error {
  margin-top: 50px;
  text-align: center;
  color: rgb(255, 0, 0);
  font-size: 50px;
}

/* loading spinner */
.loading {
  text-align: center;
  margin-top: 100px;
}

.loading i {
  font-size: 50px;
  color: #008080;
}
.spinner__message {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
/* loading spinner */

/* Header  */
h1 {
  text-align: center;
  color: white;
  background-color: #333;
  padding: 15px;
}
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 24px;
  }
}
/* Header  */

/* Navbar */

.navbar__container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #333;
  padding: 10px;
  margin: -10px;
}

h1 {
  color: white;
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: white;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
}

nav a:hover {
  background-color: #444;
}

.fa-house {
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding-right: 10px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 20px;
  }

  nav {
    justify-content: center;
  }
}
/* Navbar */

/* hamburger menu */
.navbar__toggle {
  background-color: red;
  font-size: 200px;
}

.navbar__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.navbar__toggle-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}

.navbar__toggle.active .navbar__toggle-icon:nth-child(1) {
  transform: rotate(45deg) translate(2px, 2px);
}

.navbar__toggle.active .navbar__toggle-icon:nth-child(2) {
  opacity: 0;
}

.navbar__toggle.active .navbar__toggle-icon:nth-child(3) {
  transform: rotate(-45deg) translate(1px, -1px);
}

.navbar__collapse {
  transition: height 0.3s ease-in-out;
  height: 10px;
}

.navbar__collapse.show {
  height: auto;
}
.navbar__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__nav a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  transition: color 0.3s ease-in-out;
}

.navbar__nav a:hover {
  color: #555;
}

/* hamburger menu */

/* ReeviewHub */
.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 10px;
}

.card__title {
  font-size: 25px;
}

.review-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.review-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.review-card img {
  width: 80%;
  height: 200px;
  margin: 20px auto;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}

.review-card p {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

/* ReeviewHub */

/* commentDetails */
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #ccc;
  padding: 5px;
  width: 30%;
  margin: 50px auto;
  box-shadow: 2px 2px 8px #ccc;
  border-radius: 5px;
}

.review__title {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.review__image {
  width: 80%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.review__body {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

@media only screen and (max-width: 1000px) {
  .review {
    width: 70%;
  }
}

/* CommentDetails */

/*Comments */
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 50px auto;
}

.comment {
  border: 4px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 2px 2px 8px #ccc;
}

.comment__body {
  text-align: left;
  margin: 5px;
  padding: 5px;
}

.comment__info {
  text-align: right;
  margin: 5px;
  padding: 5px;
  font-style: italic;
  font-weight: bold;
}
/*Comments */

/* updateVote */
.vote-section {
  display: flex;
  align-items: center;
}

.vote-count {
  margin-right: 10px;
  font-size: 18px;
}

.vote-button {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
}

.vote-button i {
  margin-left: 5px;
  font-size: 18px;
}

.like-button {
  color: green;
}

.dislike-button {
  color: #e60000;
}

.vote-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* updateVote */

/* form textarea */
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ccc;
}

textarea {
  padding: 0.5rem;

  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}
textarea::placeholder {
  font-size: 1.2rem;
  color: rgb(56, 51, 51);
}

.add__comment {
  padding: 0.6rem;
  background-color: #333;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.add__comment[disabled] {
  cursor: not-allowed;
}

.add__comment:hover {
  background-color: #57574c;
}
.add__comment:active {
  background-color: #333;
}
.add__comment__message {
  text-align: center;
  font-size: 2rem;
  margin: 5px;
  padding: 5px;
}

@media (max-width: 1000px) {
  form {
    width: 80%;
  }
}

/* form textarea */

/* delete button /comment*/
.delete-button {
  background-color: #ad0000;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: darkred;
}
.delete__comment__message {
  background-color: #ad0000;
  color: #fff;
  border-radius: 20px;
  width: 20%;
  text-align: center;
  margin: 20px;
  padding: 2px;
}
.fa-trash-alt {
  color: #ffffff;
  margin-left: 5px;
  font-size: 0.8rem;
}
.fa-square-check {
  margin-left: 5px;
}
/* delete button/comment */

/* error handling */
.error__container__comment {
  display: flex;
  justify-content: center;
}
.error__add__comment {
  color: red;
  font-size: 50px;
}
/* error handling */
